.conteiner{
}
.color1 {
    height: 100px;
    width: 300px;
    background-color: red;
}
.color2 {
    height: 100px;
    width: 300px;
    background-color: white;
}
.color3 {
    height: 100px;
    width: 300px;
    background-color: aqua;
}